<!DOCTYPE html>
<html lang="en">
<head>

    <!-- External resources -->
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">

    <!-- local resources -->
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <title>Budgie - {% block title %}Expense Tracker{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'entry_create' %}">Create Entry</a></li>
            <li><a href="{% url 'entry_list' %}">View Entries</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="heading">
        <h2>
            {% block heading %}
                Budgie
            {% endblock %}
        </h2>
        <hr>
    </div>

    <div id="content">
		{% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
</body>
<script>
    // Set active page css
    $('#sidebar ul li a').map(function(num, element){
        if($(element).attr('href') == "{{ request.path }}"){
            $(element).parent().addClass('active-page');
        }
    })
</script>
</html>
