{% extends "base.html" %}

{% block heading %}
    {% block title %}
        Entry Listing
    {% endblock %}
{% endblock %}

<h2>Entry List Page</h2>

{% block content %}
    <table border="1" width="100%">
        <thead>
            <tr>
                <th>
                    Label
                </th>
                <th>
                    Category
                </th>
                <th>
                    Type
                </th>
                <th>
                    Description
                </th>
                <th>
                    Date
                </th>
                <th>
                    Essential
                </th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
                <tr>
                    <td>
                        {{ entry.label }}
                    </td>
                    <td>
                        {{ entry.category }}
                    </td>
                    <td>
                        {{ entry.flow_type }}
                    </td>
                    <td>
                        {{ entry.description }}
                    </td>
                    <td>
                        {{ entry.date }}
                    </td>
                    <td>
                        {{ entry.essential }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
