<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

<title>Budgie - Create Entry</title>
<h2>Creat Entry Page</h2>

<form method="POST">
    {% csrf_token %}
    <table>
        {% if success %}
            <th>
                The form has successfully been saved
            </th>
        {% endif %}
        {% if has_error %}
            <th>
                Please address the errors below.
            </th>
        {% endif %}

        {% for field in form %}
            <tr>
                <td class="label">{{ field.label_tag }}</td>
                <td class="field">{{ field }}</td>
            </tr>
            <tr>
                <td class="error">{{ field.errors }}</td>
            </tr>
        {% endfor %}
    </table>
    <button type="submit">Submit</button>
</form>

<script>
    $(document).ready(function() {
        $('.datepicker').datepicker();
    });
</script>
