{% extends "base.html" %}

{% block title%}
    Create Entry
{% endblock %}

<h2>Creat Entry Page</h2>

{% block content %}
<form method="POST">
    {% csrf_token %}
    <table>
        {% if success %}
            <th>
                The form has successfully been saved
            </th>
        {% endif %}
        {% if has_error %}
            <th>
                Please address the errors below.
            </th>
        {% endif %}

        {% for field in form %}
            <tr>
                <td class="label">{{ field.label_tag }}</td>
                <td class="field">{{ field }}</td>
            </tr>
            <tr>
                <td class="error">{{ field.errors }}</td>
            </tr>
        {% endfor %}
    </table>
    <button type="submit">Submit</button>
</form>

<script>
    $(document).ready(function() {
        $('.datepicker').datepicker();
    });
</script>

{% endblock %}
