{% extends "base.html" %}

{% block heading %}
  {% block title %}
    {% if entry %}
      Editing: {{ entry }}
    {% else %}
      Create Entry
    {% endif %}
  {% endblock %}
{% endblock %}

{% block content %}
  {% include "form.html" %}

  <script>
    $(document).ready(function() {
      var datepicker = $('.datepicker');
      // Init Datepicker
      datepicker.datepicker();

      // Fill date with todays date
      var today = new Date();
      var day = today.getDate();
      var month = today.getMonth()+1;
      var year = today.getFullYear();
      datepicker.val(month + '/' + day + '/' + year);
    });
  </script>
{% endblock %}
