{% extends "base.html" %}

{% block heading %}
  {% block title %}
    {% if entry %}
      Editing: {{ entry }}
    {% else %}
      Create Entry
    {% endif %}
  {% endblock %}
{% endblock %}

{% block content %}
  <form method="POST">
    {% csrf_token %}
    {% if success %}
      <p>
        The form has successfully been saved
      </p>
    {% endif %}
    {% if has_error %}
      <p>
          Please address the errors below.
      </p>
    {% endif %}
    <table>
      {% for field in form %}
        <tr>
          <td class="label">{{ field.label_tag }}</td>
          <td class="field">{{ field }}</td>
        </tr>
        {% if field.errors %}
          <tr>
            <td colspan="100" class="error">{{ field.errors }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
    <button type="submit">Submit</button>
  </form>

  <script>
    $(document).ready(function() {
      $('.datepicker').datepicker();
    });
  </script>
{% endblock %}
